{% extends '../base.html' %}

{% block content %}

<div class="container">
    <h4>Add tickers to be downloaded</h4>
    <p>
        Add a comma separated list of stock symbols, system will download them in next cycle.<br>
        Data will be downloaded from
        {% if data_settings.start_date %}
            {{ data_settings.start_date }}
        {% else %}
            NA
        {% endif %}
        to the current date.

    </p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add data">
    </form>

    <table class="table table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Sector</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        <!-- jinja2 Technique -->
        {% if snp_list %}
        {% for i in snp_list %}
        <tr>
            <td>{{i.symbol}}</td>
            <td>{{i.name}}</td>
            <td>{{i.sector}}</td>
            <td>{{i.last_updated}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

</div>

{% endblock %}