<!--users/templates/users/add-security.html-->

{% extends 'base.html' %}

{% block content %}

<h4>Add a comma separated list of stock symbols</h4>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="progress-wrapper">
        <input type="submit" value="Save", id="progress-bar-trigger">
        <div id="progress-bar" style="background-color: blue; width: 0%;">&nbsp;</div>
        <div id="progress-bar-message">Waiting for progress to start...</div>
    </div>
</form>

{% endblock %}