{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2 class="text-center">Piotroski F-Scores</h2><br>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Country</th>
            <th>Currency</th>
            <th>Industry</th>
            <th>Sector</th>
            <th>F-score</th>
            <th>Weighted F-score</th>
            <th>Calculation date</th>
        </tr>
        </thead>
        <tbody>
        <!-- jinja2 Technique -->
        {% if score_table %}
        {% for i in score_table %}
        <tr>
            <td>{{i.symbol}}</td>
            <td>{{i.longname}}</td>
            <td>{{i.country}}</td>
            <td>{{i.currency}}</td>
            <td>{{i.industry}}</td>
            <td>{{i.sector}}</td>
            <td>{{i.PF_score}}</td>
            <td>{{i.PF_score_weighted}}</td>
            <td>{{i.date}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}