{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h4>Add tickers to be downloaded</h4>
    <p>Add a comma separated list of stock symbols, system will download them in next cycle.
    </p>
    <form action="" method="post">
        {% csrf_token %}
        {{ forms.add_data }}
        <input type="submit" value="Add data">
    </form>

    <h4>Update data settings</h4>
    <p>Select oldest possible date to be downloaded</p>
    </form>
        <form action="" method="post">
        {% csrf_token %}
        {{ forms.data_settings }}
        <input type="submit" value="Update settings">
    </form>

    <h4>Piotroski F-scores</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ forms.optimize }}
        <div id="progress-wrapper">
            <input type="submit" value="Update scores", id="progress-bar-trigger">
            <div id="progress-bar" style="background-color: blue; width: 0%;">&nbsp;</div>
            <div id="progress-bar-message"> </div>
        </div>
    </form>
    <table class="table table-sm">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Country</th>
            <th>Currency</th>
            <th>Industry</th>
            <th>Sector</th>
            <th>F-score</th>
            <th>Weighted F-score</th>
            <th>Financials date</th>
        </tr>
        </thead>
        <tbody>
        <!-- jinja2 Technique -->
        {% if score_table %}
        {% for i in score_table %}
        <tr>
            <td>{{i.index}}</td>
            <td>{{i.symbol}}</td>
            <td>{{i.longname}}</td>
            <td>{{i.country}}</td>
            <td>{{i.currency}}</td>
            <td>{{i.industry}}</td>
            <td>{{i.sector}}</td>
            <td>{{i.PF_score}}</td>
            <td>{{i.PF_score_weighted}}</td>
            <td>{{i.date}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}