{% extends 'optimizer_base.html' %}

{% block content %}

<p>
    Stock tickers to be included in the analysis. The data will be downloaded from Yahoo Finance.
</p>
<table class="table table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Sector</th>
        <th>Last updated</th>
    </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if ticker_list %}
    {% for i in ticker_list %}
    <tr>
        <td>{{i.symbol|default_if_none:""}}</td>
        <td>{{i.name|default_if_none:""}}</td>
        <td>{{i.sector|default_if_none:""}}</td>
        <td>{{i.last_updated|default_if_none:""}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4" class="alert alert-warning" role="alert">No data available</td>
    </tr>
    {% endif %}
    </tbody>
</table>


{% endblock %}