{% extends 'optimizer_base.html' %}
{% block content %}

<div style="width:90%;height:50%">{{ plots.spx|safe }}</div>

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Optimize portfolio">
</form>

{#<form action="" method="post">#}
{#    {% csrf_token %}#}
{#    {{ forms.optimize }}#}
{#    <div id="progress-wrapper">#}
{#        <input type="submit" value="Update scores", id="progress-bar-trigger">#}
{#        <div id="progress-bar" style="background-color: blue; width: 0%;">&nbsp;</div>#}
{#        <div id="progress-bar-message"> </div>#}
{#    </div>#}
{#</form>#}

<table class="table table-sm", style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>Symbol</th>
        <!-- <th>Name</th> -->
        <!--<th>Calculation date</th>-->
        <!--Allocation-->
        <th>Allocation</th>
        <th>Shares</th>
        <!--Metrics-->
        <th>F-score</th>
        <th>Weighted F-score</th>
        <th>EPS</th>
        <!--<th>P/E Ratio</th>-->
        <!--Profitability-->
        <th>Return On Assets (ROA)</th>
        <th>&#916; Cash</th>
        <th>&#916; ROA</th>
        <th>Accruals</th>
        <!--Leverage, Liquidity and Source of Funds-->
        <th>&#916; Long Leverage Ratio</th>
        <th>&#916; Current Leverage Ratio</th>
        <th>&#916; Shares</th>
        <!--Operating Efficiency-->
        <th>&#916; Gross Margin</th>
        <th>&#916; Asset Turnover</th>
    </tr>
    </thead>
    <tbody>
    {% if score_table %}
    {% for i in score_table %}
    <tr>
        <td>{{i.symbol}}</td>
        <!--<td>{{i.longname}}</td>-->
        <!--<td>{{i.date}}</td>-->
        <!--Allocation-->
        <td>{{i.allocation}}</td>
        <td>{{i.shares}}</td>
        <!--Metrics-->
        <td>{{i.pf_score}}</td>
        <td>{{i.pf_score_weighted}}</td>
        <td>{{i.eps}}</td>
        <!--<td>{{i.pe_ratio}}</td>-->
        <!--Profitability-->
        <td>{{i.roa}}</td>
        <td>{{i.delta_cash}}</td>
        <td>{{i.delta_roa}}</td>
        <td>{{i.accruals}}</td>
        <!--Leverage, Liquidity and Source of Funds-->
        <td>{{i.delta_long_lev_ratio}}</td>
        <td>{{i.delta_current_lev_ratio}}</td>
        <td>{{i.delta_shares}}</td>
        <!--Operating Efficiency-->
        <td>{{i.delta_gross_margin}}</td>
        <td>{{i.delta_asset_turnover}}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>


{% endblock %}